@media screen{
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}


nav{
    height: 8.6vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.88vh;
}
header{
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 3.05vh;
}
nav a{
    color: white;
    text-decoration: none;
}
.Logoheading{
    display: flex;
    gap: 0.73vh;
    align-items: center;
}
li a:link{
    color: white;
}
li a:hover{
    color: red;
    text-decoration: underline;
}
li a:checked{
    color: yellow;
}
.redo{
    color: red;
    text-decoration: underline;
}
button{
    font-size: medium;
    background-color: red;
    border-radius: 0.61vh;
    color: white;
    height: 3.05vh;
    width: 9.77vh;
    
}
.logo{
    height: auto;
    width: 7.33vh;
}
section{
    padding-top: 50px;
}
table{
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px rgb(221, 221, 221);
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    
}
thead{
    background-color: red;
    border: 0px;
    color: white;
    border-radius: 10px;
    height: 90px;
}
tbody{
    border: 0px;
    border-radius: 10px;
    height: 20px;
}
img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 20px;
}
.qtt{
    width: 30px;
}
.item{
    border: 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: center;
}
th , td{
    border: 0px;
}
tr{
    border-bottom: 1px solid rgb(236, 229, 229);
    border-radius: 10px;
}
button:hover{
    background-color: rgb(189, 19, 19);
}
footer ul{
    list-style: none;
    display: block;
    padding: 0;
}
footer ul a{
    color: white;
    text-decoration: none;

}
footer .footer-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black;
    color: white;
    padding: 40px;
    padding-left: 200px;
}
.footer-container .footer-box p{
    width: 50%;
}
.footer-bottom{
    text-align: center;
    margin-top: 0px;
    background-color: black;
    color: white;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 14px;
}
.special-icons a{
    font-size: 20px;
    color: #ccc;
    background: #222;
    padding: 10px;
    border-radius: 50%;
}