@media screen{
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
}


nav{
    height: 8.6vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.88vh;
}
header{
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 3.05vh;
}
nav a{
    color: white;
    text-decoration: none;
}
.Logoheading{
    display: flex;
    gap: 0.73vh;
    align-items: center;
}
li a:link{
    color: white;
}
li a:hover{
    color: red;
    text-decoration: underline;
}
li a:checked{
    color: yellow;
}
.redo{
    color: red;
    text-decoration: underline;
}
button{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: red;
    border-radius: 0.61vh;
    color: white;
    height: 3.05vh;
    width: 9.77vh;
    
}
.logo{
    height: auto;
    width: 7.33vh;
}
.menu-container{
    border: 0px solid;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    gap: 36px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card{
    border: 0px solid;
    height: 520px;
    width: 28%;
    align-content: center;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 0px 0px 0px 0px;
}
.card img{
    /* height: 250px; */
    height: 300px;
    width: 100%;
    border-radius: 10%;
    padding: 20px;
}
.bitedeals{
    background-color: whitesmoke;
    border: 0px solid;
    height: 290px;
    width: 100%;
    justify-items: center;
    align-content: center;
}
.dealwith{
    height: 150px;
    width: 95%;
    background-color: black;
    border-radius: 10px;
    color: white;
    justify-items: center;
    align-content: center;
    font-size: xx-large;
}
.dealwith h2{
    font-size: xx-large;
}
.dealwith p{
    font-size: x-large;
}
.Special{
    display: flex;
    border: 0px solid;
    height: 250px;
    justify-content: center;
    width: 100%;
}
.specoffer{
    border-radius: 10px;
    border: 0px solid;
    height: 200px;
    width: 24%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 30px;
    justify-items: center;
    text-align: center;
    align-content: center;
    margin: 10px;
}
.Hotdeals{
     display: flex;
    border: 0px solid;
    height: 250px;
    justify-content: center;
    width: 100%;
}
.specoffer1{
    border-radius: 10px;
    height: 200px;
    width: 24%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 30px;
    justify-items: center;
    text-align: center;
    align-content: center;
    margin: 10px;
}
.specoffer>span::selection{
    background-color: rebeccapurple;
}
.specoffer1:first-child>span::selection{
    background-color: red;
}
.specoffer1:nth-child(2)>span::selection{
    background-color: orange;
}
.specoffer1:last-child>span::selection{
    background-color: green;
}
