@media screen{
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}


nav{
    height: 8.6vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.88vh;
}
header{
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 3.05vh;
}
nav a{
    color: white;
    text-decoration: none;
}
.Logoheading{
    display: flex;
    gap: 0.73vh;
    align-items: center;
}
li a:link{
    color: white;
}
li a:hover{
    color: red;
    text-decoration: underline;
}
li a:checked{
    color: yellow;
}
.redo{
    color: red;
    text-decoration: underline;
}
button{
    font-size: medium;
    background-color: red;
    border-radius: 1.61vh;
    color: white;
    height: 3.05vh;
    width: 9.77vh;
    
}
.logo{
    height: auto;
    width: 7.33vh;
}
.hero{
    height: 90vh;
    background:url(backimage.jpg) no-repeat center/cover;
    text-align: center;
    align-content: center;
    color: white;
}
.textvideo-container{
    height: 50vh;
    width: 100%;
    justify-self: center;
    margin-top: 1.22vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    row-gap: 7.33vh;
    
}
.about-this{
    text-align: center;
    justify-items: center;
    align-content: center;
    grid-column: span 2;
    height: 30vh;
    background-color: whitesmoke;
}
video{
    height: 70vh;
    width: 70%;
    float: right;
    padding-bottom: 24.44vh;

}
.matter{
    /* margin: 2.44vh 0vh 0vh 2.44vh; */
    margin-top: 15vh;
    margin-left: 5vh;
}

.empty{
    border: 0.24vh solid;
}
.order:hover{
    cursor: pointer;
}
.order{
    height: 5.5vh;
    width: 12.22vh;
    font-size: large;
}
footer ul{
    list-style: none;
    display: block;
    padding: 0;
}
footer ul a{
    color: white;
    text-decoration: none;

}
footer .footer-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black;
    color: white;
    padding: 40px;
    padding-left: 200px;
}
.footer-container .footer-box p{
    width: 50%;
}
.footer-bottom{
    text-align: center;
    margin-top: 0px;
    background-color: black;
    color: white;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 14px;
}
.special-icons a{
    font-size: 20px;
    color: #ccc;
    background: #222;
    padding: 10px;
    border-radius: 50%;
}

