@media screen{
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}
}


nav{
    height: 8.6vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.88vh;
}
header{
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 3.05vh;
}
nav a{
    color: white;
    text-decoration: none;
}
.Logoheading{
    display: flex;
    gap: 0.73vh;
    align-items: center;
}
li a:link{
    color: white;
}
li a:hover{
    color: red;
    text-decoration: underline;
}
li a:checked{
    color: yellow;
}
.redo{
    color: red;
    text-decoration: underline;
}
button{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: red;
    border-radius: 0.61vh;
    color: white;
    height: 3.05vh;
    width: 9.77vh;
    
}
.logo{
    height: auto;
    width: 7.33vh;
}
.hero{
    height: 90vh;
    background:url(backimage.jpg) no-repeat center/cover;
    text-align: center;
    align-content: center;
    color: white;
    font-family: cursive;
}
.textvideo-container{
    height: 50vh;
    width: 100%;
    justify-self: center;
    margin-top: 1.22vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    row-gap: 7.33vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.about-this{
    margin-top: 7.33vh;
    text-align: center;
    justify-items: center;
    grid-column: span 2;
    height: 30vh;
    background-color: whitesmoke;
}
video{
    height: 70vh;
    width: 70%;
    float: right;
    padding-bottom: 24.44vh;

}
.matter{
    margin: 2.44vh 0vh 0vh 2.44vh;
}

.empty{
    border: 0.24vh solid;
}
.order:hover{
    cursor: pointer;
}
.order{
    height: 5.5vh;
    width: 12.22vh;
    font-size: large;
}
