@media screen{
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}


nav{
    height: 8.6vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.88vh;
}
header{
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 3.05vh;
}
nav a{
    color: white;
    text-decoration: none;
}
.Logoheading{
    display: flex;
    gap: 0.73vh;
    align-items: center;
}
li a:link{
    color: white;
}
li a:hover{
    color: red;
    text-decoration: underline;
}
li a:checked{
    color: yellow;
}
.redo{
    color: red;
    text-decoration: underline;
}
button{
    font-size: medium;
    background-color: red;
    border-radius: 0.61vh;
    color: white;
    height: 3.05vh;
    width: 9.77vh;
    
}
.logo{
    height: auto;
    width: 7.33vh;
}
.loginbox{
    justify-self: center;
    border: 2px solid white;
    height: 350px;
    width: 300px;
    border-radius: 20px;
    background-color: white;
    justify-items: center;
    text-align: center;
    align-content: center;
    margin-top: 100px;
}
input{
    border: 1px solid gainsboro;
    height: 35px;
    width: 85%;
    border-radius: 30px;
    padding-left: 10px;
}