*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
ul{
    display: flex;
    list-style: none;
    gap: 25px   ;
}
nav a{
    color: white;
    text-decoration: none;
}
.Logoheading{
    display: flex;
    gap: 6px;
    align-items: center;
}
li a:link{
    color: white;
}
li a:hover{
    color: red;
    text-decoration: underline;
}
li a:checked{
    color: yellow;
}
.redo{
    color: red;
    text-decoration: underline;
}
button{
    font-family: 'Times New Roman', Times, serif;
    border: 0px red;
    font-size: medium;
    background-color: red;
    border-radius: 5px;
    color: white;
    height: 25px;
    width: 80px;
    
}
.logo{
    height: auto;
    width: 60px;
}
.menu-container{
    border: 0px solid;
    height: 400px;
    width: 96%;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 36px;
}
.card{
    border: 0px solid;
    height: 350px;
    width: 24%;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
img{
    height: 250px;
    width: 90%;
    border-radius: 5px;
}
.icon-container{
    border: 0px solid;
    display: flex;
    width: 70%;
    justify-self: center;
    gap: 65px;
}
.icon-image{
    border: 1px solid grey;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 7px;
}
.icim{
    height: 85px;
    width: 85px;
    border-radius: 50%;
}
.icon-image p{
    margin-top: 8px;
    font-size: 15px;
    margin-left: 25px;
    font-weight: 600;
}
.icon-image .icim:hover{
    border-color: red;
    transform: scale(1.1);
}
.icon-image:hover{
    border-color: red;
}
button:hover{
    cursor: pointer;
}