@media screen{
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
}


nav{
    height: 8.6vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.88vh;
}
header{
    position: sticky;
    top: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 3.05vh;
}
nav a{
    color: white;
    text-decoration: none;
}
.Logoheading{
    display: flex;
    gap: 0.73vh;
    align-items: center;
}
li a:link{
    color: white;
}
li a:hover{
    color: red;
    text-decoration: underline;
}
li a:checked{
    color: yellow;
}
.redo{
    color: red;
    text-decoration: underline;
}
button{
    font-size: medium;
    background-color: red;
    border-radius: 0.61vh;
    color: white;
    height: 3.05vh;
    width: 11.77vh;
    
}
.logo{
    height: auto;
    width: 7.33vh;
}
.menu-container{
    height: 48vh;
    width: 96%;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 4.4vh;
}
.card{
    height: 42.78vh;
    width: 24%;
    align-content: center;
    text-align: center;
    border-radius: 1.22vh;
    box-shadow: 0 0.48vh 1.22vh rgba(0,0,0,0.1);
}
img{
    height: 30.56vh;
    width: 90%;
    border-radius: 1.22vh;
}
.icon-container{
    display: flex;
    width: 80%;
    justify-self: center;
    gap: 7.94vh;
    justify-content: center;
}
.icon-image{
    border: 0.2vh solid grey;
    height: 12.22vh;
    width: 12.22vh;
    border-radius: 50%;
    padding: 0.85vh;
}
.icim{
    height: 10.39vh;
    width: 10.39vh;
    border-radius: 50%;
}
.icon-image p{
    margin-top: 0.97vh;
    font-size: 1.83vh;
    margin-left: 2.20vh;
    font-weight: 600;
}
.icon-image .icim:hover{
    border-color: red;
    transform: scale(1.1);
}
.icon-image:hover{
    border-color: red;
}
button:hover{
    cursor: pointer;
}
footer ul{
    list-style: none;
    display: block;
    padding: 0;
}
footer ul a{
    color: white;
    text-decoration: none;

}
footer .footer-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black;
    color: white;
    padding: 40px;
    padding-left: 200px;
}
.footer-container .footer-box p{
    width: 50%;
}
.footer-bottom{
    text-align: center;
    margin-top: 0px;
    background-color: black;
    color: white;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 14px;
}
.special-icons a{
    font-size: 20px;
    color: #ccc;
    background: #222;
    padding: 10px;
    border-radius: 50%;
}